<?xml version="1.0"?>
<launch>

  <node name="arm_emulator" pkg="carlos_emulators" type="arm_emulator" output="screen" respawn="true" />
  
  <node name="platform_emulator" pkg="carlos_emulators" type="platform_emulator" output="screen" respawn="true" />
    
  <node name="mission_controller" pkg="mission_control" type="mission_controller_node" output="screen" respawn="false" required="true" />
  
  <node name="GUI" pkg="mission_control" type="mission_controller_gui" output="screen" respawn="false" />
  
</launch>
